<!DOCTYPE html>
<html>
<head>
    <title>Stock Data Visualizer</title>
</head>
<body>
    <title>Stock Data Visualizer</title>

    <div class="div-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

</body>
</html>
